/* Google Fonts */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/*-------------
    top styles
---------------*/

h1{
    font-size: 50px;
}
.top-heading{
    margin-bottom: 50px;
}

.top{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.top-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.journey{ 
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
    margin-right: 200px;
}

/* transition */
.device:hover{
        transform: rotate(15deg);
        transition: transform 1.3s;
}
/* transition end */

.device img{
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 35px;
}
.arrow{
    margin-left: 10px;
}

.brands{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

/*-------------
    mid styles
---------------*/

.mid{
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.mid-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.gadgets .gadget-banner img{
    width: 300px;
    height: 256px;
}
.rating{
    font-weight: 700;
    margin-left: 8px;
    color: #5E6366;
}
.fa-star{
    width: 16px;
    height: 16px;
}
.f-a .filled{
    color: Orange;
}
.gadget-availability{
    color: #5E6366;
}
.mid-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
}
.gadgets{
    width: 300px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
}
.more{
    text-align: end;
    margin-right: 50px;
    color: #E02C6D;;
}

/*----------------
    lower styles 
-----------------*/

.lower-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.lower-image img{
    margin-left: 100px;
    border-radius: 10px;
}
.lower-para{
    margin-right: 100px;
    padding-left: 10px;
    border-left: 4px solid;
    border-image: linear-gradient(rgba(94, 202, 235, 0.856), rgba(118, 238, 138, 0.747));
    border-image-slice: 1;
}

/*-----------------
    footer style
-------------------*/

.leg{
    text-align: center;
    color: white;
    background-color: rgb(11, 11, 32);
    min-height: 20vh;
}

/*-----------------------------------
    Responsiveness with media query
-------------------------------------*/

/* for phones */

@media only screen and (max-width:688px) {
    .mid, .top, .low {
        width: 100%;
    }
    .mid-blogs, .top-section, .lower-section, .brands{
        grid-template-columns: repeat(1, 1fr);
        gap: 1cm;
    }
    .lower-image img{
        margin-left: 0;
}
}

/* for tabs */

@media only screen and (min-width:688px) and (max-width:992px) {
    .mid{
        width: 100%;
    }
    .mid-blogs, .brands{
        grid-template-columns: repeat(2, 1fr);
        gap: 1cm;
    }
    .more{
        text-align: left;
    }
}